       
        body{
           width: 1440px;
           font-size: 13px;
           
        }
    .my_div{
       
     background: hsl(210, 46%, 95%);
      margin-right: 10%;
      margin-left: 10%;
      
    }
         
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    
     .div_in{
      display: grid;
      grid-template-columns: 50% 30%;
      grid-auto-rows: minmax(200px,auto);
          margin-left: 25%;
          margin-right: 30%;
          padding-top:10%;
          padding-bottom: 10%;
          margin-bottom: 0;
         
          

     }
              
 #book{
        color:white;
        font-size: larger;
        margin: 5px;
     }

   
     #tweet{
      color:white;
      font-size: larger;
      margin: 5px;
   }

   #pin{
      color:white;
      font-size: larger;
      margin: 5px;
   
   }

   #face{
      font-size: x-large;
      margin: 5px;
   
   }


         ul{
            list-style-type: none;
            display: inline;
            
         }  

         
         ul li{
            display: inline;
         }

     .drawers{
        width: 320px;
        height: 270px;
      border-bottom-left-radius: 7px;
      border-top-left-radius:7px;
        
     }

   .hey{
      border-bottom-right-radius: 7px;
      border-top-right-radius:7px;
      background-color: white;
      width: 320px;
      height: 270px;
      padding: 8px;
      
   }
     
     
    
     
 
        


         
    